/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
/.env
/.env.backup
/.env.production
/public/hot
/public/storage
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# Hostinger deployments
hostinger_deploy*
